<form class="form-inline">
    <div class="form-row">
        <label for="FirstName" class="col-sm-2 col-form-label col-form-label-sm">FirstName</label>
        <div class="col">
            <input type="text" class="form-control" id="FirstName" placeholder="FirstName">
        </div>
        <label for="LastName" class="col-sm-2 col-form-label col-form-label-sm">LastName</label>
        <div class="col">
            <input type="text" class="form-control" id="LastName" placeholder="LastName">
        </div>
        <label for="ContactNo" class="col-sm-2 col-form-label col-form-label-sm">ContactNo</label>
        <div class="col">
            <input type="text" class="form-control" id="ContactNo" placeholder="ContactNo">
        </div>
        <label for="City" class="col-sm-2 col-form-label col-form-label-sm">City</label>
        <div class="col">
            <input type="text" class="form-control" id="City" placeholder="City">
        </div>
    </div>
</form>
