<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home</a>
        <a class="nav-item nav-link" href="/AddItems">Add Items</a>
        <a class="nav-item nav-link" href="/ListItems">List Items</a>
      </div>
    </div>
    <span class="navbar-text">
        <button class="btn btn-sm btn-outline-secondary" type="button">Logout</button>
    </span>
  </nav>